@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 3% 98%; /* #F9FAFA */
    --foreground: 222.2 84% 4.9%; /* #020817 */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 222.2 84% 4.9%; /* #020817 */
    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 222.2 84% 4.9%; /* #020817 */
    --primary: 221.2 83.2% 53.3%; /* #2563EB */
    --primary-foreground: 210 40% 98%; /* #F8FAFC */
    --secondary: 210 40% 96.1%; /* #F1F5F9 */
    --secondary-foreground: 222.2 47.4% 11.2%; /* #1E293B */
    --muted: 200 20% 96%; /* #F3F5F6 */
    --muted-foreground: 200 20% 40%; /* #64748B */
    --accent: 142.1 76.2% 36.3%; /* #16A34A */
    --accent-foreground: 144.9 80.4% 10%; /* #052E16 */
    --destructive: 0 84.2% 60.2%; /* #EF4444 */
    --destructive-foreground: 210 40% 98%; /* #F8FAFC */
    --border: 214.3 31.8% 91.4%; /* #E2E8F0 */
    --input: 214.3 31.8% 91.4%; /* #E2E8F0 */
    --ring: 221.2 83.2% 53.3%; /* #2563EB */
    --radius: 0.5rem;
    --chart-1: 12 76% 61%; /* #E85D3D */
    --chart-2: 173 58% 39%; /* #2B8A7C */
    --chart-3: 197 37% 24%; /* #1B3B44 */
    --chart-4: 43 74% 66%; /* #E6C34D */
    --chart-5: 27 87% 67%; /* #E68A3D */
    --link: 209 100% 39%; /* #005CC5 */
  }

  .dark {
    --background: 222.2 84% 4.9%; /* #1F1F1F */
    --foreground: 210 40% 98%; /* #F8FAFC */
    --card: 180 3% 12%; /* #1F1F1F */
    --card-foreground: 210 40% 98%; /* #F8FAFC */
    --popover: 180 3% 12%; /* #1F1F1F */
    --popover-foreground: 210 40% 98%; /* #F8FAFC */
    --primary: 217.2 91.2% 59.8%; /* #2563EB */
    --primary-foreground: 222.2 47.4% 11.2%; /* #1E293B */
    --secondary: 217.2 32.6% 17.5%; /* #1E293B */
    --secondary-foreground: 210 40% 98%; /* #F8FAFC */
    --muted: 200 20% 15%; /* #0F172A */
    --muted-foreground: 200 20% 70%; /* #94A3B8 */
    --accent: 142.1 76.2% 20%; /* #14532D */
    --accent-foreground: 144.9 80.4% 90%; /* #DCFCE7 */
    --destructive: 0 62.8% 30.6%; /* #7F1D1D */
    --destructive-foreground: 210 40% 98%; /* #F8FAFC */
    --border: 217.2 32.6% 17.5%; /* #1E293B */
    --input: 217.2 32.6% 17.5%; /* #1E293B */
    --ring: 224.3 76.3% 48%; /* #3B82F6 */
    --chart-1: 220 70% 50%; /* #3B82F6 */
    --chart-2: 160 60% 45%; /* #2B8A7C */
    --chart-3: 30 80% 55%; /* #E68A3D */
    --chart-4: 280 65% 60%; /* #A855F7 */
    --chart-5: 340 75% 55%; /* #EC4899 */
    --link: 213 94% 67%; /* #409CFF */
  }
}
